#root {
  /* max-width: 1280px; */
  /* font-family: 'Roboto', sans-serif; */
    margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  /* overflow-x: hidden; */
  --primary:#4d7451;
  --secondary:#dd959d;
  --analogous:#e4f4ea;
  --analogous-2:#ffff;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.flex,.flex-v
{
display: flex;
margin: 0 auto;
flex-wrap: wrap;
justify-content: center ;
gap: 1vw;
}


.flex-v
{
flex-direction: column;

}


.flex-child
{
background-color: var(--primary);

}

.flex-child > a
{
color: var(--analogous);

}

.flex-child > a:visited
{
color: var(--analogous);

}
.flex-child > a:hover
{
  color: var(--analogous-2);

  
}

@media screen and (max-width:500px) {
  .flex{
    flex-direction: column;
  }
}